.detail {
  display: block;
  padding: 0rem;
  gap: 30px;
}

.detail img {
  border-radius: 10px;
  height: auto;
  width: 100%;
  /* padding: 0.rem 1rem; */
  border-radius: 10px;
  object-fit: cover;
}
.btn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding-left: 4rem;
  gap: 12px;
}

.btn button {
  background-color: transparent;
  border: 1px solid #00b14f;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-weight: 600;
  color: black;
}

.more {
  text-align: left;
  width: 50%;
}

.h2 {
  text-align: left;
}
